<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
          </div>

          <div class="or-border m-t-30">MAXFER SAC</div>
          <form class="m-t-30" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
              <input matInput type="email" formControlName="email" placeholder="Correo electrónico" />
              <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                El correo es requerido.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Clave" />
              <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                La contraseña es requerida y debe tener al menos 6 caracteres.
              </mat-error>
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" class="w-100">Iniciar sesión</button>
          </form>

          <span class="d-block f-w-500 text-center m-t-24">
            ¿Es nuevo en modernizarse?
            <a [routerLink]="['/authentication/register']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Crear cuenta
            </a>
          </span>

          <div *ngIf="errorMessage" class="error-message text-danger text-center m-t-24">
            {{ errorMessage }}
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
