<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Usuarios</mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-xl-12">
      <div>
       <!-- <button (click)="openUserModal()" class="btn btn-primary mb-3">Nuevo usuario</button> -->
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Rol</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ user.first_name }} {{ user.last_name }}</td> <!-- Corregir el campo -->
              <td>{{ user.email }}</td>
            <!--   <td>{{ user.role.name }}</td>-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</mat-card>
